CompileFlags:
  Compiler: D:/SystemEnvironment/LLVM/bin/clang++.exe
  Remove:
    - -imsvc
    - -isystem
    - -fms-runtime-lib=*
  Add:
    - --driver-mode=g++
    - --target=x86_64-w64-mingw32
    - -resource-dir=D:/SystemEnvironment/LLVM/lib/clang/21
