# Build outputs
/build/
/build_clangd/
/build_run/

# XMake
/.xmake/

# Tooling caches
/.cache/
/compile_commands.json

# Editor / IDE
/.vscode/
/.clangd
/NLCoroutine.code-workspace

# OS / misc
*.tmp
*.log
/NLCoroutine.code-workspace
/.clangd
